.square {
    border: 3px solid #C0C0C0;
    user-select: none;
    font-size: 40px;
    transition: all .3s ease;
}

.square.draw {
    background-color: #fb0c0c;
}

.square.winner-line {
    background-color: #2ECC71;
}

@media only screen and (max-width: 500px){
    .square {
        font-size: 30px;
    }
}